<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amazon_mercadolibre">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Categorias"></activity>
        <activity android:name=".Busqueda" />
        <activity android:name=".ConsultaAMZ2" />
        <activity android:name=".ConsultaMercadoLibre2" />
        <activity android:name=".ConsultaAMZ" />
        <activity android:name=".Administracion" />
        <activity android:name=".Registro" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".Suscripcion" />
        <activity android:name=".SuscripcionRespuesta" />
        <activity android:name=".Principal" />
        <activity android:name=".CategoriaProductoUsuario" />
        <activity android:name=".Login" />
        <activity android:name=".ConsultaMercadoLibre" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>